<header ng-controller="SearchController">
    <div class="top-header">
        <a href="#!/">
            <div class="logo">
                <i class='bx bx-football'></i>
                <p>Fulltime TV</p>
            </div>
        </a>
        <form>
            <div class="area-search">
                <input class="search-header" type="text" ng-model="searchQuery" placeholder="Tìm kiếm">
                <button ng-click="search()"><i class='bx bx-search'></i></button>
            </div>
        </form>
    </div>
    <div id="search-container"></div>
    <div class="bottom-header">
        <ul class="list-menu">
            <a href="#!/">
                <li class="item-menu "><i class='bx bx-home-alt-2'></i></li>
            </a>
            <a href="#!/calendar">
                <li class="item-menu"><i class='bx bx-calendar'></i></li>
            </a>
            <a href="#!/highlight">
                <li class="item-menu"><i class='bx bx-slideshow'></i></li>
            </a>
            <a href="#!/review">
                <li class="item-menu"><i class='bx bx-video-recording'></i></li>
            </a>
            <a href="#!/setting">
                <li class="item-menu"><i class='bx bx-cog'></i></li>
            </a>
        </ul>
    </div>
</header>
<button class="back-to-top-button" ng-click="scrollToTop()" ng-show="isButtonVisible"><i class='bx bxs-up-arrow-alt' ></i></button>